* {
    box-sizing: border-box;
    font-family: 'Iranian Sans', sans-serif;
    font-style: normal;
}

html, body {
    margin: 0;
    
}

.full-screen-container {
   
    background-image: url("gradient.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.container{
    padding: 10px;
    width: 650px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    background-position: center;
    border-radius: 20px;
    box-shadow: 5px 8px 18px 0px rgba(0, 0, 0, 0.39);
    padding-left: 90px;

}

.signup-container{
    float: left;
    display: inline;
    width: 200px;
    height: auto;
    text-align: center;
}

.login-container{
  float: left;
  width: 200px;
  height: auto;
  text-align: center;
  margin-left: 85px;
  
  
}




input {
    font-size: 12px;
    text-align: right;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 36px;
    padding: 6px 9px;
    background-color: #f0f0f0;
    border: 1px solid #dbdcdc;
    padding-right: 40px;
    outline: none; 
}
::placeholder{
    color: #b2b4b3;
  
}
.input-group{
    margin-bottom: 8px;
}

.button{
    margin-top: 18px;
}
h4{
    padding: 14px;
    font-size: 14px;
    color: #646464;
}

.singup_submit {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(255, 103, 123);
    border-color: transparent;
    outline: none;
    box-shadow: 5px 11px 13px 5px rgba(0, 0, 0, 0.12);
    color: white;
}

.singin_enter {
   
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(71, 209, 112);
    border-color: rgb(6, 248, 167);
    outline: none;
    border: none;
    box-shadow: 5px 11px 13px 5px rgba(0, 0, 0, 0.12);
    color: white;
}

.input-group i {
    position:absolute;
    right:0;
    top: 8px;
    padding: 4px 8px;
   
}
  
.input-group {
  
    margin-bottom: 10px;
    position: relative;
    
}

    

  
